@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


*{
  margin: 0;
  padding: 0;
  list-style: none;
}

html,body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins',sans-serif;
  color: #222;  
  }

  
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
  border-color: rgb(255,255,255);
} 
.cardP{
  justify-content: center;
}

  .navbar{
    padding: 0.8rem;
  }
.navbar-nav li{
  padding-right: 1.0rem;
  padding-left: 1.0rem;
}
.nav-item .active{
  background-color: whitesmoke !important;
  color: #343a40 !important;
}
.nav-item:hover{
  text-decoration:underline;
  font-size: 1.1rem;
}
.dropdown-item:hover{
  background-color:black;
  color: whitesmoke;
  
}
.btn-nav:hover{
  color: rgb(0, 0, 0);
}
.btn-nav{
  color: antiquewhite; 
  font-size: inherit;
}


#facilities{
  background-color: #dbdbdb;
  padding: 30px 0px;
}

.title{
text-align: center;
padding: 20px 0px;
color: #3f3f3f;
}

.card-body a{
  margin-top: auto;
}
.card{
  margin: 20px 10px;
}

.col-lg-6 img{
padding-top: 20px;
padding-bottom: 20px; 
}
.col-lg-6 h1{
padding-top: 20px;
}

.card text-center img {
background:linear-gradient(rgba(0, 0, 0, 0.877), rgba(0, 0, 0, 0.884));

}

.jumbotron {
  padding: 0.3rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}



.team img{
  height: 280px;
}
.president img{
  height: 300px;
  float: right;
  margin-right: 20px;
  padding-left: 20px;
  justify-content: space-between; 
  
}
.president{
  padding-left: 45px;
  
}
.card-body{
  padding: 2rem;
}
.president:hover{
  color: black;
  cursor: auto;
}
/*
.card-body:hover{
  background-color: #6ba4e0;
  color: black;
}*/
.team img{
  padding: 35px;
}
.navlink{
  font-size: 1.1em !important;
  
}
.carousel-inner img{
  width: 100%;
  height: 7%;
  opacity: 0.8;
}

.carousel-inner {
  background:linear-gradient(rgba(0, 0, 0, 0.877), rgba(0, 0, 0, 0.884));
  z-index: 5;
}



/*---Media Queries --*/
@media (max-width: 992px) {
.president{
  justify-content: center;
}
  }
@media (max-width: 768px) {
  .president{
    justify-content: center;
  }
    }
}
@media (max-width: 576px) {
  .pressHead  {
    font-size: 25px;
  }
  .president{
    padding-left: 20px;
    
  }
  
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


.president{
  justify-content: space-around;
}

.card{
  border: 2px #007bff;
}
.freepik{
  font-size: 15px;
  color: #949393;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
.three img{

  height: 10rem;
  width: 10rem;
}

.icons a{
  margin: 1.5vw;
  color: white;
  text-decoration: none;
  font-size: 2.5vw;
  display: inline-block;
  padding: 1vw;
}
.icons .fab{
  line-height: 2rem;
  transition: .5s;
}
.icons  a:hover {
transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.fa-facebook:hover {
color: #3b5999;

}
.fa-youtube:hover {
color: #FF0000;
}
.fa-instagram:hover {
color: #e4405f;
}
.fa-twitter:hover {
color: #00aced;
}
.fa-google-plus-g:hover {
color: #d34836;
}

footer {
  background-color: #343a40;
  color: white;
  
}




