@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


html,body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins',sans-serif;
  color: #222;  
  justify-content: center;
  align-items: center;
  
  }

  
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
  border-color: rgb(255,255,255);
} 

  .navbar{
    padding: 0.8rem;
  }
.navbar-nav li{
  padding-right: 1.0rem;
  padding-left: 1.0rem;
}
.nav-item .active{
  background-color: whitesmoke !important;
  color: #343a40 !important;
}
.nav-item:hover{
  text-decoration:underline;
  font-size: 1.1rem;
}
.dropdown-item:hover{
  background-color:black;
  color: whitesmoke;
  
}


.contact-form{
  background-color: #ebeff5;
  border-radius: 30px;
  width: 45%;
  padding: 5%;

}
.heading{
  justify-content: center;
}




.icons a{
    margin: 1.5vw;
    color: white;
    text-decoration: none;
    font-size: 2.5vw;
    display: inline-block;
    padding: 1vw;
  }
  .icons .fab{
    line-height: 2rem;
    transition: .5s;
  }
  .icons  a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
  }
  .fa-facebook:hover {
  color: #3b5999;
  
  }
  .fa-youtube:hover {
  color: #FF0000;
  }
  .fa-instagram:hover {
  color: #e4405f;
  }
  .fa-twitter:hover {
  color: #00aced;
  }
  .fa-google-plus-g:hover {
  color: #d34836;
  }
  
  footer {
    background-color: #343a40;
    color: white;
    
  }
  